section.about {
	text-align: center;
	display: block;
	position: absolute;
	top: 35%;
	left: 30rem;
	> h1 {
		text-align: left;
		padding-bottom: 10px;
		border-bottom: 0.1px solid white;
	}
	> p {
		text-align: left;
		font-size: 20px;
	}
}

div.resume {
	margin-top: 20px;
	display: inline-block;
	text-decoration: none;
	// color: white;
	font-size: 20px;
	border: solid 1px #D3ADDC;
	border-radius: 30px;
	padding: 15px 25px;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	> a {
		text-decoration: none;
		// color: white;
	}
}
