section.about {
	text-align: center;
	display: block;
	width: 50%;
	justify-content: center;
	align-items: center;
	margin: auto;
	padding: 10rem;
	> h1 {
		text-align: left;
		padding-bottom: 10px;
		text-transform: uppercase;
		border-bottom: 0.1px solid white;
	}
	> p {
		text-align: left;
		font-size: 20px;
	}

	.resume {
		margin-top: 3rem;
		display: inline-block;
		text-decoration: none;
		font-size: 20px;
		border: solid .5px #D3ADDC;
		border-radius: 30px;
		padding: 15px 25px;
		box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
		> a {
			text-decoration: none;
		}
		:hover {
			font-size: 21px;
		};
	}
}
