section.contactContainer {
	position: relative;
	text-align: center;
	display: block;
	width: 70%;
	height: 100%;
	justify-content: center;
	align-items: center;
	margin: auto;
	padding: 24px;

	@media (max-width: 1280px) {
		width: 90%;
	}

	>h1 {
		text-align: left;
		padding-bottom: 10px;
		text-transform: uppercase;
		border-bottom: 1px solid var(--border-color);
		font-size: 16px;
		margin-bottom: 15%;
	}

	>p {
		text-align: left;
	}

	>form {
		display: block;
		justify-content: center;
		text-align: center;
		align-items: center;
	}

	>form>button {
		letter-spacing: 2px;
		font-family: 'Poppins';
		font-size: 15px;
		margin-top: 30px;
		border-radius: 30px;
		padding: 15px 25px;
		border: solid 1px var(--border-color);
		border-radius: 30px;
		box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
		background-color: transparent;
		color: white;

		&:hover {
			background-color: rgba(120, 100, 197, .1);
		}
	}

	.formDiv {
		display: flex;
		text-align: center;
		justify-content: center;
		padding: 20px;

		>h1 {
			margin-bottom: 5px;
			display: block;

		}

		>input {
			caret-color: #D3ADDC;
			padding-bottom: 10px;
			font-family: 'Open sans';
			font-size: 18px;
			color: white;
			width: 95%;
			height: 20px;
			border: 0;
			outline: 0;
			border-bottom: solid 1px white;
			background-color: transparent;
		}

		>textarea {
			letter-spacing: 2px;
			caret-color: #D3ADDC;
			color: white;
			padding: 10px;
			min-width: 95%;
			max-width: 95%;
			min-height: 15vh;
			max-height: 15vh;
			border-radius: 10px;
			border: solid 1px var(--border-color);
			outline: none;
			background-color: transparent;
		}
	}
}

div.footIcons {
	text-align: center;
	align-items: center;
	display: flex;
	margin: auto;


	>h1 {
		font-size: x-large;
	}

	display: block;
	justify-content: center;
	text-align: center;
	align-items: center;

	.line {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		margin: auto;
		bottom: 0;
		width: .5px;
		height: 30%;
		background-color: pink;
	}

	>a>.MuiSvgIcon-root {
		border-radius: 16px;
		padding: 10px;
		border: 1px solid var(--border-color);
		margin: 10px;
		font-size: 48px;
		color: var(--font-color);

		&:hover {
			color: var(--primary-color);
		}

		;
	}

	>button {
		border: none;
		background-color: transparent;
		cursor: pointer;

		>.MuiSvgIcon-root {
			border-radius: 16px;
			padding: 10px;
			border: 1px solid var(--border-color);
			margin: 10px;
			font-size: 48px;
			color: var(--font-color);

			&:hover {
				color: var(--primary-color);
			}
		}
	}
}