section.navbar {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-around;
	text-align: center;
	width: 30%;
	height: auto;
	margin: auto;
	padding: 0;
	display: inline-flex;
	font-size: medium;
	flex-direction: row;
	.bubble {
		display: flex;
		width: 70%;
		height: 70px;
		margin-bottom: 10px;
		align-items: center;
		text-align: left;
		text-decoration: none;
		align-items: center;
		justify-content: center;
		text-align: center;
		@media (max-width: 1280px) {
			width: 25vw;
			margin: auto;
		}
		&.active {
			background-color: rgba(211, 173, 220, .05);
			background-image: none;
			border-radius: 30px;
			color: #D3ADDC;
		}
		:hover {
			background-color: rgba(211, 173, 220, .05);
			background-image: none;
			border-radius: 30px;
		}
	}
}