section.navbar {
	border-radius: 25px;
	display: inline-flex;
	background-color: var(--border-color);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	align-items: center;
	margin: 24px 0 64px 0;
	
	.bubble {
		display: flex;
		justify-content: center;
		border-radius: 25px;
		padding: 4px 16px 4px 16px;
		position: relative;

		:hover {
			background-color: #ffffff;
			border-radius: 25px;
			color: black;
			cursor: pointer;
		}

		&.active {
			background-color: #ffffff;
			border-radius: 25px;
			color: black;
			padding: 4px 16px 4px 16px;
		}
	}
}