@font-face {
	font-family: "Open Sans";
	src: url("../font/Typewriter_Condensed_Demi.woff2") format("woff2"),
		   url("../font/Typewriter_Condensed_Demi.woff") format("woff");
}

html {
	height: 100%;
}

body {
	position: absolute;
	height: auto;
	top:0;
	bottom:0;
	right:0;
	left:0;
	background: #2c2f33;
	background-size: cover;
	background-position: center;
	letter-spacing: 4px;
	color: white;
	font-family: 'Open sans';
}

.white-content {
	background: white;
	color: black;
	a {
		text-decoration: none;
		color: black;
	}
}

a {
	text-decoration: none;
	color: white;
}

section.container {
	position: absolute;
	display: block;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
	height: 100%;
	margin: auto;
}

section.pageContents {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 90%;
	height: 70vh;
	margin: auto;
	@media (max-width: 1280px) {
		left: 0;
		margin: auto;
		width: 100%;
	}
}

section.header {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: auto;
	padding: 2%;
	.logo {
		width: 40px;
		height: auto;
		@media (max-width: 1280px) {
			width: 30px;
			height: auto;
		}
	}

	.lightingMode {
		display: none;
		position: fixed;
		right: 5%;
		> .MuiSvgIcon-root {
			font-size: 40px;
			color: #D3ADDC;
		}
		:hover {
			color: rgb(243, 227, 109);
		}
	}
}

section.home {
	position: relative;
	display: flex;
	width: 70%;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 0;
	margin: auto;
	@media (max-width: 1280px) {
		width: 90%;
	}
	.text {
		display: inline-block;
		text-align: left;
		justify-content: left;
		> h1 {
			font-weight: 30;
			font-size: 1.6rem;
			@media (max-width: 1280px) {
				font-size: medium;
			}
		}
		> h1.typewrite-effect {
			font-weight: 20;
			overflow: hidden;
			border-right: .14em solid #D3ADDC;
			white-space: nowrap;
			animation:
			  typing 4s steps(26, end) forwards,
			  blinking 1.5s infinite;
			width: 0;
		}
		@keyframes typing {
			from { width: 0 }
			to { width: 100% }
		  }
		  @keyframes blinking {
			from { border-color: transparent }
			to { border-color: #D3ADDC; }
		  }
	}
	.hello {
		justify-content: center;
		align-items: center;
		@media (max-width: 1280px) {
			width: 80%;
			justify-content: center;
			align-items: center;
		}
		.box {
			display: flex;
			align-items: center;
			width: 40rem;
			height: 30px;
			margin-bottom: 10px;
			border: 1px solid #D3ADDC;
			@media (max-width: 1280px) {
				width: 100%;
			}
			&::before {
				content: '';
				width: 4px;
				height: 83%;
				margin-left: 2px;
				background-color: #D3ADDC;
			}
			> h1 {
				font-size: 20px;
				margin-left: 20px;
				@media (max-width: 1280px) {
					font-size: medium;
				}
			}
		}
		.videoContainer {
			background-color: #D3ADDC;
			border: 1px solid #D3ADDC;
			margin-top: 10px;
			width: 40rem;
			height: 23rem;
			@media (max-width: 1280px) {
				width: 100%;
				height: auto;
			}
			> video {
				width: calc(100% - 10px);
				height: calc(100% - 10px);
				margin: 5px;
			}
		}
	}
}

section.footerContainer {
	display: flex;
	justify-content: center;
	margin: auto;
	margin-top: 20px;
	width: 60%;
	height: 10%;
	.footIcons {
		> h1 {
			font-size: x-large;
			margin-bottom: 10px;
		}
		display: block;
		justify-content: end;
		text-align: center;
		align-items: center;
		.line {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
			margin: auto;
			bottom: 0;
			width: .5px;
			height: 30%;
			background-color: pink;
		}
		
		> a > .MuiSvgIcon-root {
			border-radius: 50%;
			padding: 10px;
			border: solid .5px white;
			margin: 10px;
			font-size: 30px;
			color: white;
		}
	}
}

.signature {
	position: fixed;
	display: inline;
	bottom: 0px;
	height: auto;
	width: 100%;
	font-size: 15px;
	align-items: center;
	text-align: center;
	justify-content: center;
	background-color: rgba(211, 173, 220, .3);
	@media (max-width: 1280px) {
		font-size: 11px;
	}
	> p {
		padding: 0;
		margin: 0;
	}
}