section.workContainer {
	position: relative;
	width: 90%;
	justify-content: space-between;
	align-items: center;
	margin: auto;
	> h1 {
		text-align: left;
		padding-bottom: 10px;
		border-bottom: 0.1px solid white;
	}
	.workSquares {
		// padding: 5rem;
		display: block;
		text-align: center;
		justify-content: center;
		align-items: center;
		columns: 3 auto;
		column-gap: 15%;
		width: 100%;
	}

	.workPresentation {
		text-align: center;
		position: relative;
		display: inline-block;
		justify-content: center;
		align-items: center;
		width: 250px;
		height: 500px;
		> a > p {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			border: solid .5px #D3ADDC;
			border-radius: 30px;
			padding: 5px 10px 5px 10px;
			margin-top: 5px;
			box-shadow: 0 12px 16px 0 rgba(0,0,0,0.20), 0 17px 50px 0 rgba(0,0,0,0.15);
		}
		 img {
			display: block;
			width: 250px;
			height: 250px;
			
		}
		>p {
			font-style: italic;
			font-size: 15px;
		}

		.abilities {
			display: flex;
			align-items: center;
			color: white;
			> h1 {
				display: flex;
				align-items: center;
				&::before {
					content: '';
					margin-right: 5px;
					display: inline-flex;
					justify-content: center;
					width: 15px;
					height: 15px;
					background-color: lightgray;
					border-radius: 50%;
				}
				align-items: center;
				text-align: center;
				letter-spacing: 1px;
				font-size: 14px;
				margin: 3px 0 10px 0;
				margin-right: 10px;
			}
			
		}
	}

}
